* {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    height: 75vh;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

.banner-topic {
    width: 700px;
}

.banner-image {
    width: 400px;
    height: 650px;
    margin-top: 20px;
}

.btn {
    padding: 15px 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    font-size: 25px;
    font-weight: 400;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}

.title {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.parag {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-feature {
    display: flex;
    justify-content: center;
}

.box-1 {
    width: 594px;
    height: 132px;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}

.long {
    margin-top: 20px;
    font-size: large;
}

.container {
    display: flex;
    gap: 155px;
    justify-content: center;
    margin-top: 20px;
    padding: 25px;
    margin-bottom: 50px;
    align-items: center;
}

.box-one {
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    justify-content: center;
}

.box-two {
    width: 300px;
    height: 400px;
    background-color: khaki;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    justify-content: center;
    align-items: center;

}

.box-three {
    width: 300px;
    height: 400px;
    background-color: cornflowerblue;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    justify-content: center;
}

.special {
    width: 250px;
    height: 350px;
    padding: 30px;
}

.caption {
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flower {
    width: 320px;
    height: 350px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 55px;
}